@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

.fa-circle{
    font-size: 10px;
    color: darkgray;
}
.margin {
    margin: 20px, 0;
}
.carousel-inner{
    height: 480px;
}
.hero-image {
    background: url(images/HeaderBaner.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-text{
    color: white;
    text-align: center;
    width: 780px;
}
.hero-text h1 {
    font-size: 60px;
}
h1 {
    font-weight: 700;
}
h5 {
    font-weight: 600;
}
h4 {
    font-weight: 600;
}